.osociales-boton{
    height: 45px; 
    width: 120px;   
    margin-bottom: 20px; 
    background-color: teal;     
    border-color: teal; 
    border-style: solid; 
    border-radius: 1;
    & a{
        font-family: 'roboto',sans-serif;
        color: white;}
    & :hover {
        background-color:#94cfcf;
        transition: 0.3s ease;}
    }
