

@media screen and (max-width: 1440px){
    .nosotros__texto {
        grid-area: texto;
        font-size: 20px;}
    }
                
@media screen and (max-width: 1024px){
.nosotros{
    grid-template-columns: 400px 1fr;
    height: 500px;
    &__imagen {
        grid-area: imagen;
        width: 400px;
        padding: 10px;
        padding-bottom: 70px;}
    &__titulo {
        grid-area: titulo;
        font-size: 30px;
        padding: 10px;
        align-self: flex-end;}
    &__texto {
        grid-area: texto;
        font-size: 100%;
        justify-self: flex-start ;
        width: 90%;
        padding-left: 10px;}}
        margin-top: 5px;
        }  

@media screen and (max-width: 768px){ 
    
    .noticia-imagen {
      width: 250px;
    }

    .nosotros{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 100px auto;
        grid-template-areas: "imagen titulo"
                             "imagen texto";
        height: 600px;
        width: fit-content;
            &__imagen {
            grid-area: imagen;
            width: 370px;
            padding: 30px;}
            &__titulo {
            grid-area: titulo;
            font-size: 25px;
            justify-self: center;
            padding: 10px;
            align-self: flex-end;}
            &__texto {
            grid-area: texto;
            font-size: 100%;
            justify-self: flex-start ;
            width: 100%;}}
    

 .redes {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 250px 350px;
    &__fb {
    width: 200px;}            
    &__iconos{
        font-size: 30px;}
    &__lista{
        font-size: 25px; } }
      
    
.navbar-brand img {
  width: 250px;
 }

footer {
  height: 10px;
  }

.noticias-texto {
padding: 50px;}}                          



@media screen and (max-width: 600px){
.redes__mapa{
  display: none;
}
.unoticias {
  height: 50px;
  align-items: center;}

.titulo__telefonolab {
  font-size: 11px;
  padding-left: 10px;
 
}}


@media screen and (max-width: 425px){
.unoticias {
   height: 50px;
   align-items: center;}

 .noticia-imagen {
  width: 200px;
}

.nosotros{
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-rows: 100px auto;
    grid-template-areas: "imagen titulo"
                          "imagen texto"
      ;
    height: 600px;
    width: fit-content;
    &__imagen {
      display: none;
    }
    &__titulo {
       font-size: 25px;
      justify-self: center;}
    &__texto {
      font-size: 90%;
      justify-self: center ;}
    }

  
    .titulo__telefonolab{
        font-size: 10px;
      }
     
            
   .redes {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 290px 200px;
    &__iconos{
    font-size: 22px;
    align-self: center;
    padding: 18px;}
    &__iconos img{
     width: 65px;}
     padding-right: 20px;
    &__lista{
    font-size: 22px;
    }
    &__lista a{
    font-size: 10px;
    padding-top: 8px;}
    &__fb {
    width: 200px; }
    &__mapa{
    display: none;}}
    


  .indtexto{
   padding: 22px;
   font-size: 14px;}
  
   .accordion-body {
    font-size: 12px;
  }

  .navbar-brand img {
    width: 200px;
  }
  
  .titulo__telefonolab {
    font-size: 9px;
  }
  footer {
  height: 10px;
  }
  .foot {
    font-size: 10px;
  }

.contact_form{  
  width: 100%; 
  margin-top: 0px; 
  margin-bottom: 0px;

  input{ 
  width: 350px; 
  height: 40px;} 
  textarea{
  width: 350px; 
  height: 150px;} 
  button{
  width: 350px;   
  cursor: pointer;}
  button p{
  font-size: 12px; }
 .aviso{
  font-size: 12px; }
  h2{
  font-size: 23px;}
  p{
  font-size: 12px;}}
}


                    
@media screen and (max-width: 375px) {  
.redes__lista li a   {
  font-size: 12px;}
.contact_form{  
  width: 100%; 
  input{ 
    width: 315px; 
    height: 40px;} 
  textarea{
    width: 315px; 
    height: 150px;} 
  button{
    width: 315px;}}
  }











