

/*  osociales.html*/
  .osociales-boton{
    border-color: #94cfcf;
    border-style: solid;
    font-size: 20px;
    margin-bottom: 50px;
  }
.osociales-boton a{
  color: black;

}
  .osociales-boton :hover {
  background-color:#94cfcf;
  transition: 0.3s ease;
  }


/* ind.html*/
  



  

